/* header
{
    text-align: center;
    border: solid; 
    border-color: cadetblue;
}
body 
{
    background-color: antiquewhite;
}
#section1
{
    color: red;
    float: left;
    width: 50%;
    
}
#section2
{
    color: chocolate;
    margin-top: 10px;
    
}
footer
{
    margin-top: 25px;
    text-align: center;
} */


body
{
    background-color: cadetblue;
}
section
{
    height: 600px;
    background-color: cyan;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-around; */
    align-items: stretch;
}
div
{
    flex: 1;
    /* width: 200px; */
    /* height: 65px; */
    font-size: 48px;
    color: white;
    background-color: navy;
    margin: 5px;
    text-align: center;

}