html
{
    background-color: rgb(14, 179, 77);
}
p
{
    color: ghostwhite;
}
#damn
{
    color: darkslateblue;
}
p.jamesbond
{
    color: firebrick;
}
.sobxrbe
{
    color: goldenrod;
}
span
{
    color: firebrick;
}
div
{
    color: gold;
}

div span
{
    color: indigo;
}