body {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s all;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 110px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  color: rgba(248, 248, 248, 0.959);
  align-content: center;
  border-bottom: 2px solid white;
}

.message {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  border: 2px solid white;
  font-family: 'Kaushan Script', cursive;
}

.logo {
  width: 600px;
  height: 200px;
  background-image: url("./../img/glclothingcowhite.png");
  background-size: cover;
}

.form {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 100px 100px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 50px 50px;
  padding: 10px 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}

input, textarea, select, button {
  width: 300px;
  height: 40px;
  margin: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box;
  /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

#submitbtn {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-transform: uppercase;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  margin-top: 2vw;
  font-weight: 500;
  text-align: center;
  transition: all 200ms;
}

#submitbtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 740 px) {
  p#demo {
    font-size: 60px;
  }
  p.message {
    font-size: 40px;
  }
  .logo {
    background-size: 375px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: black;
  }
  p#demo {
    font-size: 40px;
  }
  p.message {
    font-size: 40px;
  }
  .logo {
    background-size: 375px;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  /* Extra small devices (phones, 600px and down) */
}

@media only screen and (max-width: 600px) and (max-width: 600px) {
  .example {
    background: red;
  }
}

@media only screen and (max-width: 600px) {
  /* Small devices (portrait tablets and large phones, 600px and up) */
}

@media only screen and (max-width: 600px) and (min-width: 600px) {
  .example {
    background: green;
  }
}

@media only screen and (max-width: 600px) {
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) and (min-width: 768px) {
  .example {
    background: blue;
  }
}

@media only screen and (max-width: 600px) {
  /* Large devices (laptops/desktops, 992px and up) */
}

@media only screen and (max-width: 600px) and (min-width: 992px) {
  .example {
    background: orange;
  }
}

@media only screen and (max-width: 600px) {
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}

@media only screen and (max-width: 600px) and (min-width: 1200px) {
  .example {
    background: pink;
  }
}

@media only screen and (max-width: 600px) {
  /* Portrait and Landscape */
  /* Portrait */
  /* Landscape */
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel XL ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- HTC One ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Windows Phone ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/*# sourceMappingURL=togglebg.css.map */